<p><strong>Hello from Turbolinks!</strong> This demo app will help you get acquainted with the framework.</p>

<ul>
  <li><a href="/one">Open a new view controller</a> by following a regular link.</li>
  <li><a href="/slow">See the loading indicator</a> and test Turbolinks’ preview cache with this slow-loading page.</li>
  <li><a href="/nonexistent">Trigger an HTTP 404</a> to see how Turbolinks handles error responses.</li>
  <li><a href="/protected">Visit a protected area</a> to see how to handle an unauthorized session using a separate web view.</li>
  <li><a href="/numbers">Load a native view controller</a> to see how to intercept the URL and handle it natively.</li>
  <li><a href="https://github.com/turbolinks/turbolinks" target="_blank">Follow an external link</a> to open it in Safari.</li>
  <li><a href="#" data-behavior="post-message">Post a message from JavaScript</a> to see how it can be handled natively.</li>
</ul>
