<h1>How’d You Get Here?</h1>
<p>When you tap the link to this page, Turbolinks calls the SessionDelegate’s <code>session:<span> </span>didProposeVisitToURL:<span> </span>withAction:</code> method.</p>
<p>The demo app’s ApplicationController implements this method and decides how to handle the URL. In this case, it chooses to present a Turbolinks Visitable.</p>
<p>See ApplicationController’s <code>presentVisitableForSession:<span> </span>URL:<span> </span>action:</code> method for details on how the Visitable is created and displayed.</p>
<p><a href="/two">Here’s a link to another page</a> presented in the same manner.</p>

<p><strong>or</strong></p>

<p><a href="/two" data-turbolinks-action="replace">Here's a link to another page</a> that does a <em>replace</em> instead of an <em>advance</em>
