<h1>Protected Page</h1>
<p>This page requires authorization. You can see it because you’re signed in.</p>
<p>If you weren’t signed in, the server would have returned a "401 Unauthorized" response.</p>
