<h1>Sign in to continue</h1>

<form action="/sign-in" method="post">
  <p>Email:<br>
    <input type="text" value="user@example.com">
  </p>

  <p>Password:<br>
    <input type="password" value="secret">
  </p>

  <input type="submit" value="Sign in">
</form>
